@charset "UTF-8";
/* CSS Document */

html, body {
	margin: 10px;
	padding: 0;
	}
body { 
	font: 87.5% georgia, sans-serif;
	line-height: 1.88889;
	color: #fff; 
	background: #1B71A9;
	}
p { 
	margin-top: 0;
	position: relative;
	}
h1, h2 {
	color: #000;
	text-indent: 100%;
	white-space: nowrap;
	position: relative;
	display: block;
	}
h1 {
	font-size: 50px;
	width: 0;
	height: 100px;
	}
h2 {
	font-size: 25px;
	width: 50px;  
	float: left;
	text-align: center;
	margin: auto;
	}
header {
	height: 87px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4260E0;
  color: #FFFFFF;
  text-align: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 30%;
	padding: 10px;
}
.centerImage {
 	text-align:center;
 	display:block;
	margin-left: auto;
	margin-right: auto;
}
.intro {
  min-width: 50px;
  padding: 10px;
}
.hero, .hero-content {
  position: relative;
  padding: 25px; 
}
.hero-content {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  color: #fff;
  bottom: 0;
  height: 30vw;;
}
.row {
  width: auto;
  height:auto;
  margin: 10px;
}

.navbar {
  overflow: hidden;
  background-color: #4260E0;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  width: 550px;
  margin-left: auto;
  border: 2px solid #fff;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  padding: 14px 40px;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: #ffffff;
  padding: 5.5px 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #8094EA;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8094EA;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #000000;
  padding: 15px 38px;
  text-decoration: none;
  display: block;
  text-align: right;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.column {
  width: 25%;
  float: left;
  display: grid;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid #000000;
  padding: 25px;
}
.column2 {
  grid-gap: 13px;
  justify-content: center;
  background: #4260E0;
  padding: 25px;
  border: 2px solid #fff;
  width: 62.5%;
  float: right;
  display: grid;
  text-align: center;
  margin-bottom: 25px;
  margin-left: auto;
}
.column2 img, video {
	width: auto;
	height: 250px;
}
.column2 img:hover {
	width: auto;
	Height: 375px;
}
.img-gallery {
	display: flex;
	grid-gap: 13px;
	justify-content: center;
}
.img-gallery img, video{
	width: auto;
	height: 225px;
}